<div>
  <h1>Conferência Web</h1>
  <h2>Acompanhe a nossa programação!!!</h2>
  <p>Para visualizar as paletras clique no em Paletras:
    <%= link_to "Palestras", talks_path %>
  </p>

  <p>Para criar nova paletra clique no em Nova Paletra;
    <%= link_to "New talk", new_talk_path %>
  </p>
</div>
