<p style="color: green"><%= notice %></p>

<h1>Palestras</h1>

<div id="talks">
  <% @talks.each do |talk| %>
    <%= render talk %>
    <p>
      <%= link_to "Show this talk", talk %>
    </p>
  <% end %>
</div>

<%= link_to "New talk", new_talk_path %>
