<p style="color: green"><%= notice %></p>

<h1>Palestras</h1>

<div id="talks">

  <div>
    Track A:
    <% Talk.track_a.each do |talk|  %>
      <div class="mt-2">
        <%= "#{talk[:start_time].strftime("%I:%M")} #{talk[:title]}  #{talk[:duration]} #{ 'min' if talk[:duration] }" %>
      </div>
    <% end %>
  </div>
  
  <p>12:00 Almoço</p>
  

  Track B:
</div>

<%= link_to "New talk", new_talk_path %>
